Listázzuk a foglalások számát szobánként, azon belül a foglalás éve szerint csoportosítva!

- Az évnél a Mettől oszlopot használjuk
- Jelenítsük meg a részösszegeket és a végösszeget is úgy, hogy ne jelenjen meg minden Oszlop/NULL kombináció!
- A részösszegeket jelöljük megfelelően, pl. Részösszeg vagy Szoba összesen

In [31]:
SELECT SZOBA_FK,
    COUNT(*) OVER(PARTITION BY SZOBA_FK, YEAR(METTOL))
FROM Foglalas
GROUP BY SZOBA_FK

: Msg 207, Level 16, State 1, Line 4
Invalid column name 'Szoba_ID'.

Rangsoroljuk az egyes szobákat a foglalások száma, azon belül férőhely szerint!

- Holtverseny esetén a sorszámok sűrűn kövessék egymást
- Az 1-es számot a legtöbbet foglalt, azon belül legkevesebb férőhelyű szoba kapja
- Csak a szoba azonosítója, a férőhely és a helyezés jelenjen meg

Válaszszöveg 2 kérdés

Rich text szerkeszt

In [27]:
SELECT 
    DENSE_RANK() OVER (ORDER BY COUNT(), sz.FEROHELY),
    sz.SZOBA_ID,
    sz.FEROHELY
FROM Szoba sz JOIN Foglalas f ON sz.SZOBA_ID = F.SZOBA_FK
GROUP BY 
    sz.SZOBA_ID, sz.FEROHELY

: Msg 174, Level 15, State 1, Line 2
The COUNT function requires 1 argument(s).